@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');
  
:root {
    --color_white: #FFFFFF;
    --color_red: #D04500;
    --color_green: #4CAF50;
    --color_blue: #363563;
    --color_grey: #474747;
    --color_black: #000000;

    --font1: 'Source Sans Pro', sans-serif;
    --font2: 'Roboto', sans-serif;
}

$color_white: var(--color_white);
$color_red: var(--color_red);
$color_green: var(--color_green);
$color_blue: var(--color_blue);
$color_black: var(--color_black);
$color_grey: var(--color_grey);

$font1: var(--font1);
$font2: var(--font2);
  