@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: 575.98px) {
        font-size: 12px;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 12px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 12px;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 12px;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 13px;
    }
}

body {
    font-family: $font1;
    background-color: $color_blue;
    color: $color_white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: none;
}

/*fonts*/
.lit--12{
    font-family: $font2;
    font-size: 0.75rem;
    font-weight: 300;
}

.lit--16{
    font-family: $font2;
    font-size: 1rem;
    font-weight: 300;
}

.lit--20{
    font-family: $font2;
    font-size: 1.25rem;
    font-weight: 300;
}

.lit--22{
    font-family: $font2;
    font-size: 1.375rem;
    font-weight: 300;
}

.bold--13{
    font-size: 0.8125rem;
    font-weight: 700;
}

.bold--14{
    font-size: 0.875rem;
    font-weight: 700;
}

.bold--15{
    font-size: 0.9375rem;
    font-weight: 700;
}

.bold--16{
    font-size: 1rem;
    font-weight: 700;
}

.bold--17{
    font-size: 1.0625rem;
    font-weight: 700;
}

.bold--18{
    font-size: 1.125rem;
    font-weight: 700;
}

.bold--20{
    font-size: 1.25rem;
    font-weight: 700;
}

.bold--22{
    font-size: 1.375rem;
    font-weight: 700;
}

.bold--24{
    font-size: 4rem;
    font-weight: 700;
}

.bold--26{
    font-size: 1.625rem;
    font-weight: 700;
}

.bold--28{
    font-size: 1.75rem;
    font-weight: 700;
}

.bold--30{
    font-size: 1.875re;
    font-weight: 700;
}

.bold--40{
    font-size: 2.5rem;
    font-weight: 700;
}

.bold--55{
    font-size: 3.4375rem;
    font-weight: 700;
}

.c--custom {
    max-width: 81.25rem;
}

/* header starts */
.header{
    background-color: $color_darkblue;
    transition: all 0.5s ease 0s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    .header--nav{
        #brand{
            width: 16rem;
        }
        .menu{
            justify-content: space-between;
            width: 90%;
            li{
                a{
                    color: $color_white;
                }
            }
        }
    }
}

.stick {
    position: fixed;
    top: 0;
    padding: .5rem 0 !important;
    box-shadow: 0px 3px 6px #00000029;
}

/* hero starts */
.hero{
    margin-top: 6rem;
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .hero--top{
        @include flexCenter;
        min-height: 55rem;
        .top{
            h1{
                span{
                    color: $color_purple;
                }
            }
            p{
                span{
                    color: $color_purple;
                    border-bottom: .1rem solid $color_purple;
                }
            }
        }
    }
}

/* update starts */
.update{
    background: $color_darkblue;
    .update--text{
        @include flexCenter;
        p{
            background: $color_lightblue;
            padding: .8rem 1.5rem;
            border-radius: 1.5rem;
            text-align: center;
            span{
                background: $color_darkblue;
                padding: .4rem 1.2rem;
                border-radius: 1.5rem;
            }
        }
    }
}

/* offer starts */
.offer{
    margin: 8rem 0;
    @media (max-width: 575.98px) {
        margin: 4rem 0;
    }
    .offer--content{
        @include flexCenter;
        justify-content: space-between;
        @media (max-width: 575.98px) {
            justify-content: center;
            flex-wrap: wrap;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            justify-content: center;
            flex-wrap: wrap;
        }
        .offer--single{
            width: 30%;
            padding-top: 2.5rem;
            @media (max-width: 575.98px) {
                width: 85%;
                padding: 3.5rem 1rem;
            }
            
            @media (min-width: 576px) and (max-width: 991.98px) {
                width: 45%;
                padding: 3.5rem 1rem;
            }
            .offer--img{
                position: relative;
                margin-bottom: 4rem;
                &::before{
                    content: "";
                    position: absolute;
                    width: 6.25rem;
                    height: 6.25rem;
                    border-radius: 0.625rem;
                    transform: rotate(45deg);
                    background: linear-gradient(45deg, #1d0053 0%, #ffffff00 63%, #00000000 100%);
                    top: -1.8rem;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
                img{
                    position: relative;
                    width: 2.5rem;
                }
            }
        }
    }
}

/* project starts */
.project{
    .c--custom--2 {
        max-width: 88rem;
    }
    .project--title{
        margin: 15rem 0 3rem 0;
        h2{
            position: relative;
            right: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &::before, &::after {
                position: absolute;
                content: "";
                width: 32rem;
                height: 0.2rem;
                top: .9rem;
                background: linear-gradient(right , #ffffff00 0%, #9994F0 100%);
                @media (max-width: 575.98px) {
                    width: 9rem;
                }
                @media (min-width: 576px) and (max-width: 767.98px) {
                    width: 23rem;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    width: 23rem;
                }
                @media (max-width: 320px) {
                    width: 4.5rem;
                }
                
                @media (min-width: 321px) and (max-width: 376px) {
                    width: 6.5rem;
                }
            }
            &::before{
                left: 0;
                margin-right: .5rem;
                background: linear-gradient(left , #ffffff00 0%, #9994F0 100%);
            }
            &::after{
                right: 0;
                margin-left: .5rem;
                border: 0;
            }
            img{
                width: .5rem;
                height: 1rem;
            }
        }
        p{
            line-height: 3rem;
        }
    }
    .project--stages{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        .stage--left{
            width: 20%;
            margin: 1.5rem 1rem 0 0;
        }
        .stage--middle{
            width: 55%;
            text-align: center;
            img{
                width:100%;
            }
            
        }
        .stage--right{
            width: 20%;
            margin: 9.7rem 0 0 1rem;
            
        }
        .stage--bottom{
            width: 20%;
            
        }
        .stage--single{
            h2{
                
            }
        }
    }
}