@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: 575.98px) {
        font-size: 12px;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 12px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 12px;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 12px;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 13px;
    }
}

body {
    font-family: $font1;
    background-color: $color_blue;
    color: $color_white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: none;
}

/*fonts*/
.lit--12{
    font-family: $font2;
    font-size: 0.75rem;
    font-weight: 300;
}

.lit--16{
    font-family: $font2;
    font-size: 1rem;
    font-weight: 300;
}

.lit--20{
    font-family: $font2;
    font-size: 1.25rem;
    font-weight: 300;
}

.lit--22{
    font-family: $font2;
    font-size: 1.375rem;
    font-weight: 300;
}

.bold--13{
    font-size: 0.8125rem;
    font-weight: 700;
}

.bold--14{
    font-size: 0.875rem;
    font-weight: 700;
}

.bold--15{
    font-size: 0.9375rem;
    font-weight: 700;
}

.bold--16{
    font-size: 1rem;
    font-weight: 700;
}

.bold--17{
    font-size: 1.0625rem;
    font-weight: 700;
}

.bold--18{
    font-size: 1.125rem;
    font-weight: 700;
}

.bold--20{
    font-size: 1.25rem;
    font-weight: 700;
}

.bold--22{
    font-size: 1.375rem;
    font-weight: 700;
}

.bold--24{
    font-size: 4rem;
    font-weight: 700;
}

.bold--26{
    font-size: 1.625rem;
    font-weight: 700;
}

.bold--28{
    font-size: 1.75rem;
    font-weight: 700;
}

.bold--30{
    font-size: 1.875re;
    font-weight: 700;
}

.bold--40{
    font-size: 2.5rem;
    font-weight: 700;
}

.bold--55{
    font-size: 3.4375rem;
    font-weight: 700;
}

.c--custom {
    max-width: 81.25rem;
}

/* header */
.header{
    background-color: $color_darkblue;
    padding: 3rem 0;
}

/* hero */
.hero{
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .hero--top{
        @include flexCenter;
        min-height: 55rem;
        .top{
            h1{
                span{
                    color: $color_purple;
                }
            }
            p{
                span{
                    color: $color_purple;
                    border-bottom: .1rem solid $color_purple;
                }
            }
        }
    }
}

/* update */
.update{
    background: $color_darkblue;
    .update--text{
        @include flexCenter;
        p{
            background: $color_lightblue;
            padding: .8rem 1.5rem;
            border-radius: 1.5rem;
            span{
                background: $color_darkblue;
                padding: .4rem 1.2rem;
                border-radius: 1.5rem;
            }
        }
    }
}

.offer{
    margin: 10rem 0;
    .offer--content{
        @include flexCenter;
        .offer--single{
            .offer--img{
                position: relative;
                margin-bottom: 4rem;
                &::before{
                    content: "";
                    position: absolute;
                    width: 6.25rem;
                    height: 6.25rem;
                    border-radius: 0.625rem;
                    transform: rotate(45deg);
                    background: linear-gradient(45deg, #222447 21%, #ffffff00 99%, #d2c2ac33 100%);
                    // linear-gradient(45deg, rgb(34 36 71) 21%, rgb(255 255 255 / 0%) 99%, rgb(210 194 172 / 20%) 100%)
                    top: -1.8rem;
                    left: 9rem;
                }
                img{
                    position: relative;
                }
            }
            .offer--text{
            }
        }
    }
}
